body {
  background-color: #333333;
  font-family: fantasy;
  color: white;
  text-align: center;
}

.background, .dead {
  display: block;
  background: url("../art/area2.jpg");
  width: 1050px;
  height: 650px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border-style: solid;
  border-radius: 25px;
  border-color: #0066cc;
  border-width: 5px;
  box-shadow: 5px 3px black;
}

#dammageTaken {
  position: absolute;
  top: 5px;
  width: 1050px;
  height: 650px;
  background-repeat: no-repeat;
  background-size: 1050px;
}
.dammageTaken {
  background: url("../art/enemyattack.png");
}

#player, #playerLvUp, #event, #enemyStat {
  position: absolute;
  left: 350px;
  top: 57px;
  background: url("../art/hero.png");
  background-size: 500px;
  background-color: #002255;
  background-repeat: no-repeat;
  background-position: -130px;
  width: 700px;
  height: 650px;
  text-align: right;
}

#enemyStat {
  background: url("../art/whyvern1.png");
  background-size: 500px;
  background-color: #002255;
  background-repeat: no-repeat;
  background-position: -70px;
}

#event{
  background-position: 100px 5px;
  text-align: center;
}

ul {
  list-style-type: none;
}

#player > ul, #playerLvUp > ul, #enemyStat > ul {
  margin-left: 300px;
  margin-right: 50px;
}

#event > ul {
float: center;
text-align: center;
margin-top: 450px;
}


#enemy {
  background: url("../art/undefined.png");
  background-size: 500px;
  width:500px;
  height:600px;
  margin-left: 30px;
  float: left;
  border-radius: 25%;
}

#dammage {
  background: url("../art/undefined.png");
  background-size: 600px;
  width:500px;
  height:600px;
  background-repeat: no-repeat;
  background-position: -50px;
  border-radius: 45%;
}

.button{
  display: inline-block;
  float: right;
  background-color: #113377;
  width: 200px;
  height: 38px;
  border-style: solid;
  border-radius: 5px;
  border-color: #0066cc;
  border-width: 2px;
  box-shadow: 3px 2px black;
  margin:20px 10px;
  font-size: 20px;
  padding-top: 12px;
}

.button:hover, #event:hover, #player:hover, #playerLvUp:hover, #enemyStat:hover, #enemy:hover, .status:hover {
  background-color: #224499;
  cursor: pointer;
}


 .status, #player, #playerLvUp, #event, #enemyStat  {
  border-style: solid;
  border-radius: 25px;
  border-color: #0066cc;
  border-width: 5px;
  box-shadow: 5px 3px black;
}

.menubox, .status, #enemy, {
  display: inline-block;
}

.menubox {
  padding-top: 15px;
  float: right;
  width: 450px;
  height: 390px;
  margin:15px 30px 15px 15px;
}

#dammage, #player, #playerLvUp, #event, #enemyStat, span {
  font-size: 38px;
  padding-top: 5px;
}

.indicator {
  margin-top: 5px;
  float: left;
  width: 250px;
  height: 200px;
  cursor: pointer;
}

.status {
  margin:-27px 30px 15px 15px;
  float: right;
  width: 450px;
  height: 150px;
  background: url("../art/playerstatus.png");
  background-position: 20px;
  background-repeat: no-repeat;
  font-size: 40px;
}

#health {
  margin-top: 17px;
  margin-bottom: -12px;
}

#playerLvUp li {
  margin-top: 30px;
}

#enemyStat li {
  margin-top: 60px;
}

.dead {
  border-color: red;
  background-color: red;
  background: url("../art/enemyattack.png");
}

.number {
  position: absolute;
  display: inline-block;
  float: center;
  width: 1000px;
  left: 0px;
  top: 200px;
}

p {
  font-size: 100px;
  color: red;
  text-align: center;
}

#str {
  color: black;
}

#retry {
position:relative;
display: block;
margin-right: 42%;
}

span {
  position: relative;
  left: -500px;
  top: 600px;
  display: inline;
}

.noDisplay {
  display: none;
}

.splashHero {
  display: inline:block;
  width: 650px;
  height: 500px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -350px;
  background: url("../art/hero.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border-radius: 40%;
}

.start {
  display: inline-block;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 40px;

}

.bbaTitle {
  margin: auto;
  width: 900px;
  height: 250px;
  background: url("../art/bba.png");
}

#loading > img {
  display: inline-block;
  margin-top: 25%;
}

.load {
  display: none;
}

.loadingSpace {
  width: 1050px;
  height: 650px;
  margin: auto;
}
